@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GridPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@await Component.InvokeAsync("Banner")

<div class="grid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.GridTitle))
                {
                    <h2 class="grid-title">@Model.GridTitle</h2>
                }

                <div class="grid-stack">
                    @if (Model.GridItems != null && Model.GridItems.Any())
                    {
                        foreach (GridStackItem gridStackItem in Model.GridItems)
                        {
                            <div class="grid-stack-item" gs-min-w="2" gs-min-h="2" gs-w="@(gridStackItem.Width > 1 ? gridStackItem.Width : 1)" gs-h="@(gridStackItem.Height > 1 ? gridStackItem.Height : 1)" gs-no-resize="@gridStackItem.NoResize" gs-no-move="@gridStackItem.NoMovement" gs-locked="@gridStackItem.NoMovement">
                                <div class="grid-stack-item-content">@gridStackItem.Title @(gridStackItem.NoMovement ? "(Immovable)" : string.Empty)</div>
                            </div>
                        }
                    }

                    <!-- static center column -->
                    <div class="grid-stack-item" gs-min-w="6" gs-min-h="6" gs-x="3" gs-y="0" gs-no-resize="true" gs-no-move="true">
                        <div class="grid-stack-item-content">Center grid item</div>
                    </div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->

    <div class="grid-tray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button class="grid-tray-button gridTrayToggle">Open tray</button>

                    <div class="grid-tray-wrap">
                        <div class="grid-stack-item" gs-min-w="2" gs-min-h="3">
                            <div class="grid-stack-item-content">Option 1</div>
                        </div>
                        <div class="grid-tray-trash">Remove Widget</div>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
</div>

<opta-widget sport="football" widget="standings" template="normal" live="false" competition="8" season="2015" match="" team="" team_padding="" navigation="" default_nav="1" side="combined" data_detail="default" dividers="" show_key="false" show_crests="false" points_in_first_column="false" show_form="6" group="" crop="" competition_naming="full" team_naming="full" team_link="" date_format="dddd D MMMM YYYY" sorting="false" show_logo="true" breakpoints="400,700,1200"></opta-widget>