@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using DemoSite.Helpers;
@{
    var content = (ContentModels.TwoColumnBlock)Model.Content;
    var settings = (ContentModels.FlexibleBlockSettings)Model.Settings;

    @if (settings.IsHidden) return;

    string blockMargin = FlexibleBlockHelpers.GetBlockMarginClass(settings.BlockMargin);
    bool isAlignedRight = content.Alignment == DemoSite.Enums.TwoColumnAlignment.Right ? true : false;
}

<div class="flexibleblock @(blockMargin)">
    <section class="twocolumn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 @(isAlignedRight ? "order-lg-2" : "")">
                    @if (content.Image != null)
                    {
                        <div class="twocolumn-image">
                            <img src="@content.Image.Url()" alt="@content.Image.Name" class="twocolumn-image" />
                        </div>
                    }
                </div><!-- col -->

                <div class="col-lg-6 @(isAlignedRight ? "order-lg-1" : "")">
                    @if (content.Content != null && !string.IsNullOrWhiteSpace(content.Content.ToString()))
                    {
                        <div class="twocolumn-content">
                            @Html.Raw(content.Content)
                        </div>
                    }
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
</div>
